[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-bitsailor
Exec=harbour-bitsailor
Name=BitSailor
Name[pl]=BitSailor
Name[fr]=BitSailor
Name[sk]=BitSailor
Name[cs]=BitSailor

[X-Sailjail]
Sandboxing=Disabled
# Replace with your organization as a reverse domain name
OrganizationName=cz.chrastecky
# ApplicationName does not have to be identical to Name
ApplicationName=bitsailor
# Add the required permissions here
Permissions=