<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
    <vendor>harbour-bitsailor</vendor>
    <icon_name>package-x-generic</icon_name>
    <action id="cz.chrastecky.bitsailor.auth">
        <description>Authorization for unlocking vault</description>
        <message>Authorization is needed to unlock the vault.</message>
        <message xml:lang="cs">Pro odemknutí trezoru je vyžadována autorizace.</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
    <message xml:lang="sk">Pre odomknutie trezoru je vyžadovaná autorizácia.</message><message xml:lang="fr">L"authentification est nécessaire pour dévérouiller le coffre.</message><message xml:lang="pl">Do odblokowania sejfu wymagana jest autoryzacja.</message><message xml:lang="de">Autorisierung wird benötigt, um den Tresor zu entsperren.</message></action>
</policyconfig>
